mat-sidenav-container {
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 1rem;
    background-color: var(--atri-bg);
}

mat-sidenav {
    color: var(--atri-green);
    width: 8rem;
    position: fixed;
    z-index: 1000;
}

.toggle {
    position: fixed;
    top: 50%;
}


.logo {
    transform: scale(.5);
    margin-bottom: 2.4rem;
}

.logo:hover {
    cursor: pointer;
}

.side-menu {
    width: 100%;
  }

.menu {
    gap: 4rem;
}

.icon {
    gap: .1rem;
}

.icon a:visited {
    color: var(--atri-green);
}

.btn {
    font-size: var(--atri-sidebar-toggle-icon-size);
}

.btn:hover {
    cursor: pointer;
}