

<section class="settings">
    
    <div class="wrapper">

        <div class="icon">
            <i class="material-icons">settings</i>
            <p class="m-text">Settings</p>
       </div>
       
       <div class="settings-options">
            <ul class="settings-options">
                <li><button href="">Account</button></li>
                <li><button href="">Password</button></li>
                <li><button href="">Sessions</button></li>
                <li><button href="">Other</button></li>
            </ul>
       </div>

       <div class="settings-title">
            <h2 class="green">Profile Account</h2>
            <p>Manage your ATRI account.</p>
       </div>

       <div class="profile-photo">
            <p>PROFILE PHOTO</p>
            <img class="round-image" src="assets/imgs/placeholder.svg" alt="">
       </div>

       <div class="settings-content">
            <div class="change-account">
                <form action="">
                    <div class="input-box">
                        <input type="text" placeholder="USERNAME" required>

                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="FULL NAME" required>

                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="EMAIL" required>
                        
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="TIME ZONE" required>
                        
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="LANGUAGE" required>
                        
                    </div>
                    
                    <button type="submit" class="login-button">Update</button>

                </form>
            </div>
            
            <hr>

            <div class="settings-title">
                <h2 class="green">Delete Account</h2>
                <p>Once you delete your account and account data, There is no going back.</p>
            </div>

            <div class="delete-account">

                <div class="input-box">
                    <input type="text" placeholder="Confirm Email" required>
                </div>

                <button type="submit" class="login-button">Delete Account</button>
            </div>
       </div>

       

    </div>
</section>

