<section class="support-content">
    <h1>Need help?</h1>
    
    <div class="wrapper">
        <form action="">
            <h2>Send us a message</h2>
            <div class="input-box">
                <input type="text" placeholder="Name" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Subject" required>
            </div>
            <div class="input-box">
                <label for="message">Message</label>
                <textarea class="message" name="message" rows="20" cols="33" placeholder="Your message here"></textarea>
            </div>
            <button type="submit" class="send-button">Send</button>
        </form>

        <section class="contact-content">
            <h1>Contact us!</h1>
            <span class="rectangle">---</span>
            <div class="contact">
                <img src="#" alt="icon">
                <p>Linkedin:</p>
                <p>ATRI - Advanced Technology Research Institute</p>
            </div>
            <div class="contact">
                <img src="#" alt="icon">
                <p>GitHub:</p>
                <p>Institute-atri</p>
            </div>
            <div class="contact">
                <img src="#" alt="icon">
                <p>Instagram:</p>
                <p>atri.intitute</p>
            </div>
            <div class="contact">
                <img src="#" alt="icon">
                <p>Twitter/X:</p>
                <p>atrinstitute</p>
            </div>            
        </section>

    </div>
</section>
